<div class="my-4">
    <div class="container flex justify-center mx-auto items-center font-['Lato']">
        <div>
            <h1 class="text-center mx-auto mt-5 text-[#1D1D1F] text-xl font-bold bg-[#FFCE44] w-28">Cpu</h1>

            <div class="grid grid-cols-2 gap-1 md:grid-cols-5">
                <div *ngFor="let product of products"
                    class="relative m-10 h-[80%] w-60  bg-white border border-transparent hover:border-[#848484] hover:shadow-md transition duration-300">
                    <a routerLink="product" class="group block overflow-hidden">
                        <div class="relative h-[120px] sm:h-[200px] m-2 bg-[#F6F6F6]">
                            <img src="{{product.imageUrl[0]}}" alt=""
                                class="absolute inset-0 h-full w-full object-contain" />
                            
                        </div>
                    </a>
                    <div class="px-3 pb-5 font-['Arial'] text-center">
                        <a href="#">
                            <div class=" max-w-sm p-2">
                                <p class="text-[16px] font-semibold text-blue-600 tracking-tight max-w-sm line-clamp-1">
                                    {{product.name}}
                                </p>
                            </div>
                        </a>
                        <div class="text-gray-600 pb-2 text-center">

                            <h2>{{product.brand}}</h2>
                        </div>
                        <div class="items-center flex justify-between font-['Arial']">
                            <p class="text-[16px] font-semibold text-[#3A3A3A]">
                                {{product.price | currency : 'Php '}}
                            </p>
                            <div class="flex gap-1 ">
                                <div>
                                    <a class="" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="w-7 h-7 bg-gray-300 rounded-full p-1 hover:bg-[#FED700] text-[#3A3A3A] cursor-pointer"
                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                        </svg>
                                    </a>
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor"
                                        class="w-7 h-7 bg-gray-300 rounded-full p-1 text-[#3A3A3A] hover:bg-[#FED700] cursor-pointer">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor"
                                        class="w-7 h-7 hover:bg-[#FED700] bg-gray-300 rounded-full p-1 text-[#3A3A3A] cursor-pointer"
                                        >
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>